@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 980px;
    }

    .hdr__logo {
        height: 40px;
    }
    
    .hdr__signInBtn {
        width: 150px;
        height: 50px;
        font-size: 17px;
     }

     .hdr__signUpBtn {
        font-size: 17px;
     }

    .banner__mainElements h1 {
        font-size: 73px;
    }

    .banner__mainElements p {
        font-size: 17px;
    }
    
    .banner img {
        height: 270px;
    }
    
    .banner button {
        width: 195px;
        height: 60px;
        font-size: 18px;
    }

    .video iframe {
        margin-top: 60px;
        margin-bottom: 60px;
        width: 600px;
        height: 325px;
     }

     .feature {
        margin-top: 80px;
        margin-bottom: 80px;
     }

     .feature__main {
        margin-right: 17px;
     }

     .feature__main p {
        font-size: 13px;
        line-height: 25px;
     }

     .feature__main img {
        width: 90px;
        height: 90px;
      }

      .quote__description {
        margin-bottom: 39px;
        font-size: 22px;
        max-width: 650px;
        line-height: 35px;
      }

      .quote__main {
        margin-right: 430px;
      }

      .quote__main img {
        width: 110px;
        height: 110px;
      }

      .quote__main p {
        font-size: 19px;
        padding-left: 16px;
      }

      .support__heading {
        font-size: 50px;
      }

      .support__description {
        font-size: 20px;
        margin-bottom: 35px;
        line-height: 35px;
      }

      .footer__main {
        max-width: 400px;
      }

      .footer__main input {
        width: 320px;
        height: 40px;
      }

      .footer__main button {
        width: 320px;
        height: 40px;
      }

      .footer__main img {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    
    .banner__main {
        justify-content: space-between;
    }

    .banner__mainElements {
        align-items: self-end;
    }

    .banner__mainElements span {
        padding-left: 175px;
    }

    .partners__apple {
        width: 5vw;
    }

    .partners__amazon {
        width: 12vw;
    }

    .partners__google {
        width: 13vw;
    }

    .partners__walmart {
        width: 18vw;
    }
    
    .quote {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .support {
        padding: 100px 0;
    }

    .footer__wrap {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    .footer__main img {
        width: 60px;
        height: 60px;
    }

    .footer__main input::placeholder {
        font-size: 18px;
    }

    .footer__list {
        display: flex;
    }

    .footer__listElements {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .footer__listCommunity {
        padding-left: 0;
    }

    .footer__listElements p {
        font-weight: 800;
        font-size: 17px;
    }

    .footer__listElements li {
        list-style: none;
        padding-bottom: 25px;
    }

    .footer__about p {
        padding: 0 20px;
    }

    .footer__other {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .footer__about {
        display: flex;
    }

    .footer__about p {
        font-weight: bold;
        font-size: 17px;
    }

    .footer__about p:nth-child(1) {
        padding-left: 0;
    }

    .footer__icons img {
        padding: 0 5px;
    }
}