@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 980px;
    }

    .hdr__logo {
        height: 40px;
    }
    
    .hdr__signInBtn {
        width: 150px;
        height: 50px;
        font-size: 17px;
     }

     .hdr__signUpBtn {
        font-size: 17px;
     }

    .banner__mainElements h1 {
        font-size: 73px;
    }

    .banner__mainElements p {
        font-size: 17px;
    }
    
    .banner img {
        height: 270px;
    }
    
    .banner button {
        width: 195px;
        height: 60px;
        font-size: 18px;
    }

    .video iframe {
        margin-top: 60px;
        margin-bottom: 60px;
        width: 600px;
        height: 325px;
     }
}

@media (min-width: 992px) {
    
    .banner__mainElements {
        align-items: self-end;
        }

    .banner__mainElements span {
        padding-left: 175px;
    }

    .partners__apple {
        width: 5vw;
    }

    .partners__amazon {
        width: 12vw;
    }

    .partners__google {
        width: 13vw;
    }

    .partners__walmart {
        width: 18vw;
    }
}