@import url('../styles/tablet.css');
@import url('../styles/desktop.css');
@import url('../styles/largeDesktop.css'); 
@import url('../styles/normalize.css');

@property --blue {
   syntax: '<color>';
   initial-value: rgba(38,72,236,1);
   inherits: false;
 }
 
 @property --green {
   syntax: '<color>';
   initial-value: rgba(0,247,8,1);
   inherits: false;
 }

 body {
    font-family:'Poppins', sans-serif;
 }

 .hdr__menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
 .hdr__menu li {
    margin: 0 1rem;
  }
  
 .hdr__menuBtnContainer {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
 #hdr__menuToggle {
    display: none;
  }
  
 .hdr__menuBtn,
 .hdr__menuBtn::before,
 .hdr__menuBtn::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
 .hdr__menuBtn::before {
    content: '';
    margin-top: -8px;
  }
  
 .hdr__menuBtn::after {
    content: '';
    margin-top: 8px;
  }
  
 #hdr__menuToggle:checked + .hdr__menuBtnContainer .hdr__menuBtn::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
 #hdr__menuToggle:checked + .hdr__menuBtnContainer .hdr__menuBtn {
    background: rgba(255, 255, 255, 0);
  }
  
 #hdr__menuToggle:checked + .hdr__menuBtnContainer .hdr__menuBtn::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

 .hdr__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 .container {
    padding: 20px;
 }

 .banner {
    background-color: #EEF2FF;
    text-align: center;
 }

 .banner p {
    margin-bottom: 34px;
 }

 .banner button {
    background-color: #E44590;
    border-radius: 32px;
    border: 2px solid #E44590;
    color: white;
    margin-bottom: 30px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-weight: 800;
 }

 .banner button:hover {
    background-color: white;
    color: #E44590;
 }

 button {
    cursor: pointer;
 }

 .partners {
    display: flex;
    justify-content: center;
}

 .partners img {
    height: auto;
 }

 .video {
    display: flex;
    justify-content: center;
    background-color: #DAF2F1;
 }

 .video iframe {
    border: 0;
    border-radius: 6px;
 }

 .feature__main p {
    text-align: center;
 }

 .feature__main h2 {
    margin-bottom: 10px;
 }

 .feature button {
    width: 200px;
    border-radius: 32px;
    height: 64px;
    background: var(--first-color);
    border: 0;
    color: white;
    background: linear-gradient(90deg, var(--blue), var(--green));
    transition: --blue 0.3s ease-in-out, --green 0.3s ease-in-out;
 }

 .feature button:hover {
   --blue:  rgba(0,247,8,1);
   --green: rgba(38,72,236,1);
 }

 .quote {
    background-color: #FEFBF2;
    display: flex;
    align-items: center;
    flex-direction: column;
 }

 .quote img {
    border-radius: 50%;
 }

 .quote__description {
   font-weight: 600;
 }

 .quote__main {
   display: flex;
   align-items: center;
 }

 .support {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #EEF2FF;
 }

 .support p {
   text-align: center;
 }

 .support__heading {
   font-weight: 600;
   margin-bottom: 10px;
 }

 .support button {
   border-radius: 32px;
   width: 200px;
   height: 64px;
   border: 2px solid #E44590;
   color: white;
   background-color: #E44590;
   transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
   font-size: 18px;
 }

 .support button:hover {
   background-color: white;
   color: #E44590;
 }

 .footer__main input {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #D0D0D0;
    padding-left: 15px
}

.footer__main input::placeholder {
    color: black; 
}

.footer__main button {
    border: 2px solid #2A50C1;
    border-radius: 32px;
    background-color: #2A50C1;
    color: white;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.footer__main button:hover {
    background-color: white;
    color: #2A50C1;
    font-weight: bold;
}

 .footer__aboutSpotify::before {
    content: '©';
    width: 15px;
    height: 15px;
    padding-right: 5px;
 }

 .footer__icons img {
    cursor: pointer;
 }

 .footer__icons img:hover {
    transform: scale(1.1);
 }

 @media (max-width: 639px) {

   .hdr__menuBtnContainer {
        display: flex;
  }
   .hdr__menu {
        position: absolute;
        top: 0;
        margin-top: 70px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
  }
   #hdr__menuToggle ~ .hdr__menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
   #hdr__menuToggle:checked ~ .hdr__menu li {
        align-items: center;
        border: 1px solid;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
   .hdr__menu li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #EEF2FF;
        background: linear-gradient(90deg, rgba(0,247,8,1) 10%, rgba(13,1,14,1) 92%);
  }

   .hdr__logo {
        height: 30px;
   }

   .banner h1 {
        font-size: 48px;
   }

   .banner p {
        font-size: 17px;
   }

   .banner button {
        width: 180px;
        height: 60px;
   }

   .banner img {
        height: 250px;
    }

   .partners__mainImages {
        display: flex;
        justify-content: space-evenly;
    }

   .partners__apple {
        width: 8vw;
   }
  
   .partners__amazon {
        width: 22vw;
   }
  
   .partners__google {
        width: 22vw;
   }
  
   .partners__walmart {
        width: 31vw;
        padding-left: 20px;
   }

   .video iframe {
        width: 268px;
        height: 181px;
        margin-top: 55px;
        margin-bottom: 55px;
   }

   .feature {
        margin-top: 20px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
   }

   .feature__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
 
   }

   .feature__main h2 {
        font-size: 26px;
   }

   .feature__main p {
        font-size: 14px;
        line-height: 25px;
   }

   .feature__main img {
        width: 90px;
        height: 90px;
    }

    .feature__premium {
        margin: 30px;
    }

   .quote {
        padding-top: 60px;
        padding-bottom: 20px;
    }

   .quote img {
        margin-bottom: 30px;
        width: 280px;
        height: 280px;
        order: 1;
    }

   .quote p {
        font-size: 18px;
        max-width: 442px;
        order: 2;
    }

    .quote__description {
        line-height: 25px;
        text-align: center;
    }

   .quote__main {
        flex-direction: column;
   }

   .support {
        padding: 50px 0;
   }

   .support__heading {
        font-size: 35px;
        max-width: 307px;
        margin-bottom: 25px;
   }  

   .support__description {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 40px;
   }

   .footer__main {
        display: flex;
        flex-direction: column;
        align-items: center;
   }

   .footer__main img {
        padding-top: 20px;
        margin-bottom: 20px;
        width: 60px;
        height: 60px;
   }

   .footer__main form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
   }

   .footer__main input {
        width: 225px;
        height: 40px;
   }

   .footer__main button {
        width: 225px;
        height: 45px;
   }

   .footer__list {
        font-weight: bold;
        margin: 25px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
   }

   .footer__list ul {
       display: none;
   }

   .footer__about {
       display: flex;
       flex-direction: column;
       margin-bottom: 25px;
       font-weight: bold;
       align-items: center;
   }

   .footer__aboutCookies {
       order: 1;
   }

   .footer__aboutPrivacy {
       order: 2;
   }

   .footer__aboutSpotify {
       order: 3;
       text-transform: uppercase;
   }

   .footer__aboutSpotify::before {
       content: '©';
       width: 15px;
       height: 15px;
       padding-right: 5px;
   }

   .footer__icons {
       display: flex;
       justify-content: center;
   }

   .footer__icons img {
        padding: 0 10px;
   }

   .footer__icons img:nth-child(1) {
        padding-left: 0;
   }

   .footer__icons img:nth-child(4) {
        padding-right: 0;
   }
}