@import url('../styles/tablet.css');
@import url('../styles/desktop.css');
@import url('../styles/largeDesktop.css'); 
@import url('../styles/normalize.css');

 body {
    font-family:'Poppins', sans-serif;
 }

 .container {
    padding: 20px;
 }

 .banner {
    background-color: #EEF2FF;
    text-align: center;
 }

 .banner p {
    margin-bottom: 34px;
 }

 .banner button {
    background-color: #E44590;
    border-radius: 32px;
    border: 2px solid #E44590;
    color: white;
    margin-bottom: 30px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-weight: 800;
 }

 .banner button:hover {
    background-color: white;
    color: #E44590;
 }

 button {
    cursor: pointer;
 }

 .partners {
   display: flex;
   justify-content: center;
}

 .partners img {
    height: auto;
 }

 .video {
    display: flex;
    justify-content: center;
    background-color: #DAF2F1;
 }

 .video iframe {
    border: 0;
    border-radius: 6px;
 }

 .feature { 
    margin-top: 20px;
}

 .feature__circle {
    border: 3px solid seagreen;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,255,80,1) 100%);
 }

 .feature__main p {
    text-align: center;
 }

 .feature__main h2 {
    margin-bottom: 10px;
 }


 @media (max-width: 639px) {
   nav {
       display: none;
   }

   .hdr__logo {
       height: 30px;
   }
   
   .banner h1 {
       font-size: 48px;
   }

   .banner p {
       font-size: 17px;
   }

   .banner button {
       width: 180px;
       height: 60px;
   }

   .banner img {
       height: 250px;
    }

    .partners__mainImages {
      display: flex;
      justify-content: space-evenly;
    }

    .partners__apple {
      width: 8vw;
   }
  
   .partners__amazon {
      width: 22vw;
   }
  
   .partners__google {
      width: 22vw;
   }
  
   .partners__walmart {
      width: 31vw;
      padding-left: 20px;
   }

   .video iframe {
      width: 321px;
      height: 190px;
      margin-top: 55px;
      margin-bottom: 55px;
   }

   .feature__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 70px;
 
   }

   .feature__main h2 {
      font-size: 26px;
   }

   .feature__main p {
      font-size: 14px;
   }

   .feature__circle {
      width: 64px;
      height: 64px;
   }
}