@media (min-width: 1200px) {
    .container {
        width: 1180px;
    }
    
    .hdr__logo {
        height: 44px;
    }

    .hdr__signInBtn {
        width: 180px;
        height: 65px;
        font-size: 21px;
    }

    .hdr__signUpBtn {
        font-size: 21px;
    }

    .banner__mainElements h1 {
        font-size: 100px;
    }

    .banner__mainElements p {
        font-size: 22px;
    }

    .banner__mainElements button {
        width: 215px;
        height: 65px;
        font-size: 19px;
    }

    .banner img {
        height: 360px;
    }

    .video iframe {
        margin-top: 65px;
        margin-bottom: 65px;
        width: 764px;
        height: 459px;
     }

     .feature__main {
         margin-right: 35px;
     }

     .feature__main h2 {
         font-size: 26px;
     }

     .feature__main p {
        font-size: 15px;
     }

     .feature__main img {
        width: 100px;
        height: 100px;
      }

}