@media (min-width: 1200px) {
    .container {
        width: 1180px;
    }
    
    .hdr__logo {
        height: 44px;
    }

    .hdr__signInBtn {
        width: 180px;
        height: 65px;
        font-size: 21px;
    }

    .hdr__signUpBtn {
        font-size: 21px;
    }

    .banner__mainElements h1 {
        font-size: 100px;
    }

    .banner__mainElements p {
        font-size: 22px;
    }

    .banner__mainElements button {
        width: 215px;
        height: 65px;
        font-size: 19px;
    }

    .banner img {
        height: 360px;
    }
}