@import url(./tablet.css);
@import url(./desktop.css);
@import url(./largeDesktop.css); 

@media (max-width: 639px) {
    nav {
        display: none;
    }

    .hdr__logo {
        height: 23px;
    }
    
    .banner h1 {
        font-size: 57px;
    }

    .banner p {
        font-size: 15px;
    }

    .banner button {
        width: 200px;
        height: 64px;
    }

    .banner img {
        height: 250px;
     }
 }

 body {
    font-family:'Poppins', sans-serif;
 }

 .container {
    padding: 20px;
 }

 .banner {
    background-color: #EEF2FF;
    text-align: center;
 }

 .banner p {
    margin-bottom: 34px;
 }

 .banner button {
    background-color: #E44590;
    border-radius: 32px;
    border: 2px solid #E44590;
    color: white;
    margin-bottom: 30px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-weight: 800;
 }

 .banner button:hover {
    background-color: white;
    color: #E44590;
 }

 button {
    cursor: pointer;
 }

