@media (min-width: 640px) and (max-width: 991px) {
   .container {
      width: 650px;
   }

   .hdr__logo {
      height: 33px;
   }

   .hdr__signInBtn {
      width: 132px;
      height: 44px;
      font-size: 15px;
   }

   .hdr__signUpBtn {
      font-size: 15px;
   }

   .banner__mainElements {
      align-items: center;
   }

   .banner h1 {
      font-size: 65px;
   }

   .banner button {
      width: 180px;
      height: 60px;
   }

   .banner img {
      height: 245px;
   }

   .partners__apple {
      width: 37px;
   }

   .partners__amazon {
      width: 100px;
   }

   .partners__google {
      width: 100px;
   }

   .partners__walmart {
      width: 145px;
   }

}

@media (min-width: 640px) {
     .container {
         margin: 0 auto;
     }

     .hdr__main {
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     .hdr__signUpBtn {
        background: none;
        border: 0;
        margin-right: 15px;
        transition: opacity 0.3s ease-in-out;
     }

     .hdr__signUpBtn:hover {
        opacity: 0.7;
     }

     .hdr__signInBtn {
        background-color: black;
        border: 2px solid black;
        color: white;
        border-radius: 32px;        
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
     }

     .hdr__signInBtn:hover {
        background-color: white;
        color: black;
     }

     .banner__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
     }

     .banner__mainElements {
        display: flex;
        flex-direction: column;
     }

     .banner h1 {
         margin-bottom: 20px;
     }

     .banner img {
        display: flex;
        flex-direction: column;
        justify-content: center;
     }

     .partners__main {
        display: flex;
        flex-direction: row;
        justify-content: center;
     }

     .partners img {
        padding-right: 70px;
     }

     .partners__mainImages {
      display: flex;
      justify-content: center;
  }
 }